@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  --tw-bg-opacity: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color: rgb(28 28 34 / var(--tw-bg-opacity));
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 120px;
  position: relative;
  max-width: 90rem;
  padding-top: 7rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Add your custom styles here */
.text-color-animation {
  display: inline-block;
  background: linear-gradient(90deg, #54a0ff, #00d2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-animation 2s infinite alternate;
}

@keyframes color-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Add your custom styles here */
.text-animation {
  display: inline-block;
}

.char {
  opacity: 0;
  display: inline-block;
  animation: fade-in 0.5s forwards;
}

.animate-char {
  animation: fade-in-out 3s linear infinite;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
