.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(28 28 34 / var(--tw-bg-opacity));
    z-index: 1000; /* Ensure header is on top of other content */
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }  

  @media (max-width: 640px) {

    .menu {
      width: 360px;
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      scrollbar-width: none; /* Firefox */
    }
    
    .menu::-webkit-scrollbar {
      display: none;
    }
  }